* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* background-color: rgba(10, 200, 10, 0.353); */
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1.5rem;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffb1a4;
  /* background-image: conic-gradient(#ffa99a, rgb(255, 201, 201)); */
  background-image: conic-gradient(#a2d2ff, #219ebc);
}

/* .heading-container {
  position: absolute;
  top: 10px;
  left: 25%;
  width: 300px;
  height: auto;
  border-radius: 10px;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
} */

/* .heading {
  white-space: nowrap;
  font-size: 16px;
  position: absolute;
  top: 10px;
  left: 25%;
  font-size: 40px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bolder;
  background-image: linear-gradient(90deg, white, steelblue);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
} */

.heading-container {
  width: fit-content;
  height: auto;
  padding: 0.75rem;
  border-radius: 10px;
  /* box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; */
  border-bottom: 2px solid hsl(198, 82%, 67%);
  position: absolute;
  top: 2vh;
}

.heading {
  white-space: nowrap;
  font-family: cursive;
}

.first {
  color: #b8ddff;
}
.second {
  color: #219ebc;
}

.blob-container {
  width: 500px;
  height: 350px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blob {
  border-radius: 38% 62% 56% 44% / 46% 33% 67% 54%;
  width: 360px;
  height: 320px;
  background-color: #0f62fe;
  background-color: #023e8a;
  background-color: #457b9d;
  /* background-color: #9f86c0; */
  z-index: -1;
  display: inline-block;
}

/* svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 50vmax;
  z-index: -1;
  animation: move 10s ease-in-out infinite;
  transform-origin: 50% 50%;
}

@keyframes move {
  0% {
    transform: scale(1) translate(10px, -30px);
  }
  38% {
    transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg);
  }
  40% {
    transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg);
  }
  78% {
    transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg);
  }
  80% {
    transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg);
  }
  100% {
    transform: scale(1) translate(10px, -30px);
  }
} */

.container {
  width: 354px;
  height: auto;
  background-color: /* rgba(51, 51, 51, 0.263); */ transparent;
  background-repeat: no-repeat;
  background-size: contain;
  color: rgb(223, 230, 245);
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  padding: 1rem;
  border-radius: 20px;
  position: relative;
  /* z-index: 2; */
}

.sentence {
  text-transform: uppercase;
}

.container:has(.sentence:hover) .sentence:not(.sentence:hover) {
  color: rgba(255, 255, 255, 0.156);
  transition: all linear 100ms;
}

.fancy {
  display: inline-block;
  /* max-width: 30vw;
  max-height: 30vw; */
}

.see:hover {
  cursor: none;
}

.sentence:has(.see:hover) .not-see {
  /*  * selection of element based on containter(which has!) , then downward hierachy. T.T */
  color: rgba(255, 255, 255, 0.156);
}

.sentence:has(.see:hover) {
  color: rgba(255, 255, 255, 0.156);
}

.body:has(.see:hover) .blob {
  transform: scale(0.7) rotateZ(60deg) translate(30px, 30px);
  transition: all ease-out 2s;
  transition-delay: 200ms;
  transform-origin: center;
}

:is(.see:hover) .a {
  /*  * selection of element that comes after [downward hierchal] */
  transform: scale(0.8) translateX(-50px) translateY(20px) rotate(-35deg);
  transition: all ease 350ms;
  color: white;
}

:is(.see:hover) .b {
  transform: scale(0.8) translateX(18px) translateY(30px) rotate(35deg);
  transition: transform ease 400ms;
  color: white;
}
:is(.see:hover) .c {
  transform: scale(0.8) translateX(-24px) translateY(-34px) rotate(-12deg);
  transition: transform ease 320ms;
  color: white;
}
:is(.see:hover) .d {
  transform: scale(0.8) translateX(14px) translateY(18px) rotate(-40deg);
  transition: transform ease 350ms;
  color: white;
}
:is(.see:hover) .e {
  transform: scale(0.8) translateX(18px) translateY(-18px) rotate(395deg);
  transition: transform ease 700ms;
  color: white;
}
:is(.see:hover) .f {
  transform: scale(0.8) translateX(-34px) translateY(18px) rotate(175deg);
  transition: transform ease 700ms;
  color: white;
}
:is(.see:hover) .g {
  transform: scale(0.8) translateX(18px) translateY(-18px) rotate(395deg);
  transition: transform ease 700ms;
  color: white;
}
:is(.see:hover) .h {
  transform: scale(0.8) translateX(14px) translateY(-28px) rotate(-45deg);
  transition: transform ease 700ms;
  color: white;
}
:is(.see:hover) .i {
  transform: scale(0.8) translateX(18px) translateY(-18px) rotate(120deg);
  transition: transform ease 700ms;
  color: white;
}
