* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --bg-color: #fafaf9;
  --hero-text-color: #262626;
  --nav-color: #000000;
  --about-body-color: #aeae9d;
  --about-body-color: #929283;
  --about-template-heading-color: #8c8c73;
  --heading-font: "General Sans", sans-serif;
  --body-font: "Cabinet Grotesk", sans-serif;
  --link-color: #262626cc;
  --link-color-hover: #262626;
}

/* font-family: 'Cabinet Grotesk', sans-serif;
font-family: 'General Sans', sans-serif; */

body {
  background-color: var(--bg-color);
}

[href] {
  text-decoration: none;
}

#nav-bar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 12px 20px;
  font-family: var(--body-font);
  background-color: var(--bg-color);
  position: sticky;
  top: 0;
  z-index: 3;
}

.logo-container {
  cursor: pointer;
}

.about-and-template-container {
  display: flex;
  flex-direction: row;
  width: 20rem;
  justify-content: space-around;
  font-size: 1.1rem;
  color: var(--nav-color);
  align-items: center;
}

.about-container,
.templates-container {
  display: grid;
  place-content: center;
  height: 20px;
  width: auto;
  cursor: pointer;
}

.about-container::after,
.templates-container::after {
  content: "";
  height: 2px;
  width: 0;
  background-color: var(--about-template-heading-color);
  transition: all 0.3s ease;
}

.about-container:hover::after,
.templates-container:hover::after {
  width: 100%;
}

#hero-container {
  width: calc(100-100vw);
  height: auto;
  overflow-x: hidden;
  display: grid;
  place-content: center;
  position: relative;
  font-family: var(--heading-font);
}

.central-image-container {
  margin: auto;
  z-index: -1;
}

.scribble-container,
.sculpt-container,
.curate-container {
  font-family: var(--heading-font);
  font-size: 8rem;
  text-transform: uppercase;
  font-weight: bolder;
  color: var(--hero-text-color);
  width: 100vw;
  z-index: 1;
}

.scribble-container {
  padding-left: 15%;
  position: absolute;
  top: 8px;
  opacity: 0.94;
}
.sculpt-container {
  opacity: 0.9;
  text-align: center;
  position: absolute;
  top: 181px;
}
.curate-container {
  display: flex;
  flex-direction: row-reverse;
  padding-right: 17%;
  position: absolute;
  top: 354px;
}

#till-the-contact {
  width: 90vw;
  margin: auto;
  margin-top: 8rem;
}

.about-heading,
.template-heading,
.contact-at-heading {
  text-transform: uppercase;
  font-family: var(--heading-font);
  color: var(--about-template-heading-color);
  font-weight: 550;
  font-size: 6rem;
  text-align: center;
}

.about-text {
  font-family: var(--heading-font);
  font-size: 4rem;
  font-weight: 600;
  color: var(--about-body-color);
  margin-top: 50px;
}

.about-and-template-container > div::selection,
#hero-container > div::selection,
#about > div::selection,
#template > div::selection,
.description-all::selection,
.contact-details > p::selection,
.contact-details > a::selection,
.social-links > a::selection,
.copyright::selection,
.contact-at-heading::selection {
  background-color: #959590a3;
}

#template {
  margin-top: 8rem;
  width: 100%;
}

.first-row {
  display: flex;
  flex-direction: column;
}

.first-template-container {
  width: inherit;
  height: 120vh;
  background-color: #929283;
  transition: all 0.3s;
  background-image: url(img/marble-bg-portfolio-temp.jpg);
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  margin-top: 8rem;
  cursor: pointer;
}

.second-row {
  display: grid;
  grid-template-columns: 1fr 40%;
  column-gap: 1rem;
}

.container-left,
.container-right {
  display: flex;
  flex-direction: column;
}

.left-background,
.right-background {
  background-image: url(img/marble-bg-portfolio-temp.jpg);
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.3s;
  cursor: pointer;
}
.right-background {
  width: 100%;
  height: 60vh;
}
.left-background {
  width: 100%;
  height: 90vh;
}
.description-all {
  width: 15rem;
  height: auto;
  padding: 10px;
  border-radius: 18px 18px 18px 18px;
  border: 2px solid var(--about-template-heading-color);
  text-align: center;
  color: var(--nav-color);
  margin: 0.7rem 0 3rem 0;
  font-family: var(--body-font);
  font-weight: 600;
}

.description-all > a {
  text-decoration: none;
  color: var(--nav-color);
}

.first-template-container:hover,
.left-background:hover,
.right-background:hover {
  border-radius: 20px 20px 20px 20px;
}

.contact-at-heading {
  margin-top: 2rem;
}
.contact-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 3rem;
  margin-bottom: 8rem;
  /* border: 1px solid orange; */
}
.contact-heading,
.socials-heading {
  font-family: var(--heading-font);
  font-weight: 500;
  font-size: 1.8rem;
  color: var(--hero-text-color);
  margin: 1.3rem 0;
}

.mail,
.social-links {
  text-decoration: none;
  font-family: var(--body-font);
  font-size: 1.2rem;
  color: var(--link-color);
  font-weight: 500;
  padding: 3px;
  margin-bottom: 1rem;
  transition: all 0.2s;
}

.social-links > a {
  text-decoration: none;
  display: block;
  color: var(--link-color);
}

.mail:hover,
.social-links > a:hover {
  color: var(--link-color-hover);
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: auto;
  padding: 0.5rem;
}

.copyright {
  display: flex;
  font-family: var(--heading-font);
  font-size: 1.1rem;
  align-items: center;
}

.footer > a {
  text-decoration: none;
  text-decoration: underline;
  color: inherit;
  font-family: var(--heading-font);
  font-size: 1.1rem;
  align-self: center;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  font-size: 3rem;
  cursor: pointer;
}

#attribution {
  color: var(--hero-text-color);
  margin: auto;
  font-size: 0.9rem;
  padding: 2px;
}

#attribution > a {
  text-decoration: none;
  text-decoration: underline;
  color: var(--link-color);
}
